# docker run -d -p 8080:80 --name nginx
# -e TITLE="Hello en vagyok a sajat" mynginx
version: "3.8"
services:
  web:
    build:
      context: ./docker
    ports:
      - "8080:80"
    environment:
      TITLE: "Hello en vagyok a sajat"
  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./test.sql:/docker-entrypoint-initdb.d/test.sql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - 8081:80
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
volumes:
  data:
    # -v $PWD/data:/var/lib/mysql
# docker run -ti -v ${PWD}:/host --workdir=/host ubuntu bash
#docker run -ti -v ${PWD}:/host --workdir=/host ubuntu rm -rf data
#  docker compose logs mysql
# docker compose exec mysql bash